.box5{
    display: block;
    flex: wrap;
    width:300px;
    border:2px solid rgba(180, 161, 161, 0.541);
    border-radius: 10px;
    margin: 5px;
    height:385px;
    background-image: url('https://i.imgur.com/NbaRtPe.png');
    background-size:cover;
    color: white;  
}
.box5 > p{
    margin-top:20px;
    font-size: 17px;
    font-family: 'Sedgwick Ave', cursive;
    padding-bottom: 0px;    
}
.word{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
}
.word2{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.box5 > h1{
    background: none;
    border:none;
    color:white;
    font-family: 'Fredoka One', cursive;
}
 .img2{
    height: 100%;
    width: 100%;
}
 h2 {
    color: gray;
    font-weight: 200;
    text-decoration: underline;

}.bigbox3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:cover;
}
 @media (min-width: 768px) and (max-width: 1023px){
    .img2{
        border-bottom: 1px white;
    }
    .render > img {
        max-width: 700px;
    }
    .render > p{
        color: black;
    }
}
@media (min-width: 1024px){
    .render > img {
       max-width: 800px;   
    }
    .render > p{   
        border-radius: 10px;
    }
}